/*--------------------body---------------------------*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*---------------------main-menu---------------------*/
#header {
    height: 100px;
    line-height: 100px;
    padding: 0 40px;
}

.main-menu {
    text-align: center;
}

.main-menu a {
    font-family: Montserrat-Regular;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    padding: 20px 15px;
    font-weight: lighter;
}

.linedivide {
    display: block;
    position: relative;
    height: 20px;
    width: 1px;
    background-color: #e5e5e5;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 5px;
    top: 32px;
}

.icon-header {
    display: flex;
    list-style: none;
}

.icon-header i {
    color: #056526;
    font-size: 18px;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    40% {
        left: -100%;
    }

    60% {
        left: -100%;
    }

    80% {
        left: -200%;
    }

    95% {
        left: -200%;
    }
}

/*----------------Banner------------------------*/
div #slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}


div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy infinite;
}

/*-------------------content---------------------------*/
#container {
    min-height: 14rem;
}

/*-------------------Footer----------------------------*/
footer {
    background-color: #999999;
    margin-top: 20px;
    padding: 45px;
    font-size: 12px;
    color: #fff;
}


footer ul {
    list-style: none;

}

footer a {
    color: #FFF;
}

footer div h4 {
    color: #093;
    font-size: 20px;
}

/*---------------------Top-bar---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#topbar {
    padding: 0 40px;
    min-height: 45px;
    background-color: #f5f5f5;
    line-height: 45px;
    color: #888888;
}

#topbar i {
    padding: 10px;
    font-size: 18px;
}

#topbar i:hover {
    color: #a4da22;
}

#Login a {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #topbar {
        display: none;
    }
}

.form {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 45px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    height: 36px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    cursor: pointer;
    height: 47px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form #register-form {
    display: none;
}

#login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#Modal-form .close {
    box-shadow: none;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 10px;
    z-index: 9;
    font-size: 18px;
}

#search {
    background-color: #FFF;
    width: 0px;
    border: 0;
    outline: 0;
    height: 20px;
    border-bottom: 1px solid #000;
    transition: all 0.3s ease-in-out;

}

#search:focus {
    width: 150px;

}

/*----------product-card-------------*/
.card:hover {
    box-shadow: -1px 5px 20px rgba(0, 0, 0, 0.75);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 18rem;
    margin: 0.5rem;
}

/*-------------------user bar-------------------------*/
.user {
    text-align: right;
    color: #888888;
    cursor: pointer;
}

.user span:hover {
    color: #3f3e3e;

}

.user ul {
    position: absolute;
    right: 10px;
    z-index: 100;
    background-color: #e5e5e5;
    text-align: left;
    border: 1px solid #999;
    border-bottom: 0;
    display: none;
}

.user ul li {
    border-bottom: 1px solid #999;
    width: 100%;
    padding: 0 10px;
    font-size: 12px;
    list-style: none;
}

.user ul li:hover {
    background-color: #056526;
}

.user ul li:hover a {
    color: #FFF;
    text-decoration: none;
    display: block;
}

.user ul li a {
    color: #4CAF50;
}

.user:hover ul {
    display: block;
}
/*---------------------------modal details-----------------------*/
#details .close{
    box-shadow: none;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 10px;
    z-index: 9;
    font-size: 15px; 
  }
  
  
  .info{
    padding: 30px 0;
  }
  
  .star i{
    color: #f5b80e;
  }
  
  .name_product{
    font-size: 24px;
    font-weight: 700;
    color: #056526;    
    margin: 0 0 10px 0;
  }
  
  .pride_product{
    font-size: 20px;
    font-weight: 700;
    color: rgb(58, 58, 58);
    margin: 0 0 10px 0;
    
  }
  
  .pride_product span{
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-color: rgb(136, 136, 136);
    
  }
  
  .qty-text{
    border: 2px solid #e5e5e5;
    height: 35px;
    width: 50px;
    text-align: center;
    font-size: 13px;
  }
  
  .quantity{
    width: 50px;
  }
  
  .details_body .cart{
    display: flex;
  }
  
  .details_body .cart-submit{
    background-color: #4caf50;
    border:  none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 35px;
    margin-left: 15px;
    width: 120px;
  }
.price_product > span {
    color: #888;
    font-size: 14px;
    text-decoration: line-through;
}